# Pandas и база футболистов

- Скачать тут: https://drive.google.com/file/d/1Py6o16hHqqz_mAvFEIjnSm_hYvxrLEsV/edit

In [2]:
import pandas as pd

In [1]:
file_football_csv = 'football.csv'

In [5]:
df = pd.read_csv(file_football_csv)

In [6]:
df.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [8]:
df.tail(3)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

In [12]:
# Показать информацию по строчным полям
df.describe(include=['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

In [13]:
df.min()

Unnamed: 0                            0
Name                           A. Abang
Age                                  16
Nationality                 Afghanistan
Club                SSV Jahn Regensburg
Value                                 0
Wage                               1000
Position                            CAM
Crossing                              5
Finishing                             2
HeadingAccuracy                       4
ShortPassing                          7
Volleys                               4
Dribbling                             4
Curve                                 6
FKAccuracy                            3
LongPassing                           9
BallControl                           5
Acceleration                         12
SprintSpeed                          12
Agility                              15
Reactions                            21
Balance                              16
ShotPower                             2
Jumping                              15
Stamina                              12
Strength                             17
LongShots                             3
Aggression                           11
Interceptions                         3
Positioning                           2
Vision                               10
Penalties                             5
Composure                            12
Marking                               3
StandingTackle                        2
SlidingTackle                         3
GKDiving                              1
GKHandling                            1
GKKicking                             1
GKPositioning                         1
GKReflexes                            1
dtype: object

In [15]:
df.Age

0        31
1        33
2        26
3        27
4        27
         ..
12892    19
12893    19
12894    16
12895    17
12896    16
Name: Age, Length: 12897, dtype: int64

In [18]:
print(df.Age.min())
print(df.Age.max())

16
45

In [19]:
print(df.count())

Unnamed: 0         12897
Name               12897
Age                12897
Nationality        12897
Club               12897
Value              12897
Wage               12897
Position           12897
Crossing           12897
Finishing          12897
HeadingAccuracy    12897
ShortPassing       12897
Volleys            12897
Dribbling          12897
Curve              12897
FKAccuracy         12897
LongPassing        12897
BallControl        12897
Acceleration       12897
SprintSpeed        12897
Agility            12897
Reactions          12897
Balance            12897
ShotPower          12897
Jumping            12897
Stamina            12897
Strength           12897
LongShots          12897
Aggression         12897
Interceptions      12897
Positioning        12897
Vision             12897
Penalties          12897
Composure          12897
Marking            12897
StandingTackle     12897
SlidingTackle      12897
GKDiving           12897
GKHandling         12897
GKKicking          12897
GKPositioning      12897
GKReflexes         12897
dtype: int64

In [20]:
df.Age > 20

0         True
1         True
2         True
3         True
4         True
         ...
12892    False
12893    False
12894    False
12895    False
12896    False
Name: Age, Length: 12897, dtype: bool

In [21]:
df[df.Age > 20]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12838,13067,D. Mackay,21,Scotland,Kilmarnock,30000,1000,GK,14,20,...,24,30,12,18,18,48,50,47,48,48
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12870,13099,M. Hurst,22,Scotland,St. Johnstone FC,40000,1000,GK,19,15,...,29,28,12,15,16,45,49,50,50,45
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [22]:
df.Age.mean()

24.795378770256647

In [24]:
# Показать футболистов, возраст которых выше среднего возраста
df[df.Age > df.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [26]:
df[(df.Age > df.Age.mean()) & (df.Club == "FC Barcelona")]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
18,18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK,15,14,...,25,69,25,13,10,87,85,88,85,90
20,20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM,62,67,...,60,90,90,86,80,5,8,13,9,13
32,32,Coutinho,26,Brazil,FC Barcelona,69500000,340000,LW,79,79,...,70,85,55,54,47,12,7,9,14,6
49,49,Jordi Alba,29,Spain,FC Barcelona,38000000,250000,LB,87,73,...,59,79,72,84,85,13,15,13,6,13
53,53,I. Rakitić,30,Croatia,FC Barcelona,46500000,260000,RCM,84,83,...,82,81,72,74,70,14,11,12,5,9
54,54,Piqué,31,Spain,FC Barcelona,34000000,240000,RCB,57,64,...,69,86,91,86,84,10,11,14,15,8
96,96,A. Vidal,31,Chile,FC Barcelona,26000000,205000,CAM,76,75,...,81,81,82,87,86,4,2,4,2,4
204,204,J. Cillessen,29,Netherlands,FC Barcelona,18000000,135000,GK,17,10,...,21,61,18,12,11,80,83,75,81,80
605,613,T. Vermaelen,32,Belgium,FC Barcelona,5000000,110000,CB,63,52,...,62,72,72,79,80,9,10,7,11,15

In [27]:
df[(df.Age > df.Age.mean()) & (df.Club == "FC Barcelona")].Wage.min()

110000

In [29]:
df[(df.Club == "FC Barcelona")].Crossing.mean()

57.31818181818182

## Группировка данных

In [30]:
df.Nationality.unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales',
       'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands',
       'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria',
       'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea',
       'Montenegro', 'Switzerland', 'Norway', 'DR Congo', 'Ukraine',
       'Mexico', 'Czech Republic', 'Ivory Coast', 'Albania', 'Turkey',
       'Ghana', 'Ecuador', 'Mali', 'Nigeria', 'Dominican Republic',
       'Japan', 'Cameroon', 'Republic of Ireland', 'Romania',
       'United States', 'Russia', 'Hungary', 'Iceland', 'Zimbabwe',
       'Togo', 'Angola', 'Burkina Faso', 'Peru', 'Scotland', 'Venezuela',
       'Estonia', 'Tunisia', 'Israel', 'Equatorial Guinea', 'New Zealand',
       'FYR Macedonia', 'Paraguay', 'China PR', 'Kosovo', 'Tanzania',
       'Iran', 'Uzbekistan', 'South Africa', 'Australia', 'Congo',
       'Jamaica', 'Mozambique', 'Cape Verde', 'Northern Ireland', 'Syria',
       'Cyprus', 'Moldova', 'Canada', 'Trinidad & Tobago', 'Bulgaria',
       'Georgia', 'Saudi Arabia', 'Armenia', 'Guinea Bissau', 'Haiti',
       'Comoros', 'Eritrea', 'Oman', 'Iraq', 'Latvia', 'Panama',
       'Bolivia', 'Madagascar', 'Belarus', 'Honduras', 'Thailand',
       'Mauritius', 'Gambia', 'Guatemala', 'Central African Rep.',
       'Zambia', 'Curacao', 'Niger', 'Mauritania', 'Suriname', 'Benin',
       'Luxembourg', 'Kenya', 'Montserrat', 'Namibia', 'Azerbaijan',
       'Guam', 'Libya', 'Faroe Islands', 'Nicaragua', 'Sierra Leone',
       'Kazakhstan', 'Lithuania', 'Barbados', 'Lebanon', 'Liechtenstein',
       'Palestine', 'Guyana', 'Korea DPR', 'El Salvador', 'Cuba', 'Sudan',
       'Burundi', 'St Lucia', 'Ethiopia', 'Uganda', 'Puerto Rico',
       'Grenada', 'Antigua & Barbuda', 'Jordan', 'Rwanda', 'Bermuda',
       'Qatar', 'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize',
       'South Sudan', 'St Kitts Nevis', 'Philippines', 'Indonesia',
       'Botswana'], dtype=object)

In [31]:
df.Nationality == "Argentina"

0         True
1        False
2        False
3        False
4        False
         ...
12892    False
12893    False
12894    False
12895    False
12896    False
Name: Nationality, Length: 12897, dtype: bool

In [32]:
df[df.Nationality == "Argentina"].Age

0        31
15       24
23       30
38       30
43       25
         ..
12050    19
12056    17
12335    25
12556    19
12681    21
Name: Age, Length: 574, dtype: int64

In [37]:
group1 = df[df.Nationality == "Argentina"].Age
group2 = df[df.Nationality == "Brazil"].Age
group3 = df[df.Nationality == "Portugal"].Age

df_new = pd.DataFrame([group1.mean(), group2.mean(), group3.mean()], columns=["Age"], index=["Argentina", "Brazil", "Portugal"])
print(df_new)

                 Age
Argentina  25.890244
Brazil     27.898345
Portugal   25.547170

In [38]:
df_new = pd.DataFrame(
    {
        'Age': [group1.mean(), group2.mean(), group3.mean()],
        'Min': [group1.min(), group2.min(), group3.min()],
        'Max': [group1.max(), group2.max(), group3.max()]
    }, 
    index=["Argentina", "Brazil", "Portugal"])
print(df_new)

                 Age  Min  Max
Argentina  25.890244   16   41
Brazil     27.898345   17   40
Portugal   25.547170   17   37

In [39]:
df.Nationality.value_counts()

England                 1368
Germany                  919
Spain                    671
France                   614
Argentina                574
                        ...
Nicaragua                  1
Central African Rep.       1
Libya                      1
Guam                       1
Botswana                   1
Name: Nationality, Length: 156, dtype: int64

In [40]:
s = df.Nationality.value_counts()
s['England']

1368

In [41]:
s.loc[s > 30]

England                1368
Germany                 919
Spain                   671
France                  614
Argentina               574
Italy                   469
Colombia                445
Japan                   425
Brazil                  423
China PR                349
Republic of Ireland     332
Saudi Arabia            324
Sweden                  319
Netherlands             309
Chile                   296
Poland                  296
Korea Republic          290
Norway                  283
Mexico                  276
Denmark                 275
United States           271
Austria                 240
Scotland                221
Turkey                  215
Australia               206
Belgium                 164
Portugal                159
Switzerland             156
Wales                   102
Uruguay                  83
Senegal                  78
Serbia                   73
Croatia                  72
Ghana                    68
Nigeria                  66
Northern Ireland         65
Greece                   57
Czech Republic           56
Cameroon                 55
Finland                  54
Canada                   52
Ivory Coast              50
Morocco                  41
Bosnia Herzegovina       37
Slovakia                 37
Algeria                  37
South Africa             37
Russia                   36
Venezuela                36
Ukraine                  35
Slovenia                 33
Paraguay                 32
Name: Nationality, dtype: int64

In [42]:
s.loc[(s >= 1) & (s < 10)]

Zimbabwe                9
Guinea Bissau           9
Iran                    9
Madagascar              9
Armenia                 8
                       ..
Nicaragua               1
Central African Rep.    1
Libya                   1
Guam                    1
Botswana                1
Name: Nationality, Length: 80, dtype: int64

In [44]:
df.Age.value_counts(bins=5)

(21.8, 27.6]     5237
(15.97, 21.8]    3932
(27.6, 33.4]     3016
(33.4, 39.2]      691
(39.2, 45.0]       21
Name: Age, dtype: int64

## Сводные таблицы

In [46]:
df[df['Club'].isin(['PC Barcelona', 'Juventus'])]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF,82,84,...,86,84,23,20,20,5,4,4,5,8
24,24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB,58,33,...,50,84,93,93,90,3,3,2,4,3
64,64,Alex Sandro,27,Brazil,Juventus,36500000,160000,LB,84,55,...,60,82,81,84,84,7,7,9,12,5
65,65,Douglas Costa,27,Brazil,Juventus,46500000,175000,LM,84,67,...,77,84,45,38,34,13,15,9,12,5
70,70,L. Bonucci,31,Italy,Juventus,30000000,160000,RCB,44,48,...,70,86,90,86,80,2,2,3,2,4
72,72,M. Pjanić,28,Bosnia Herzegovina,Juventus,44000000,180000,CDM,80,60,...,79,86,75,74,70,7,7,13,7,8
73,73,M. Benatia,31,Morocco,Juventus,30000000,160000,CB,45,47,...,41,82,89,87,85,7,4,8,7,11
92,92,W. Szczęsny,28,Poland,Juventus,32000000,125000,GK,12,12,...,18,65,20,13,12,85,81,71,85,87
99,99,S. Khedira,31,Germany,Juventus,33000000,160000,RCM,72,72,...,69,84,80,83,76,11,9,5,15,8
103,103,B. Matuidi,31,France,Juventus,26000000,145000,LM,75,64,...,56,82,85,84,86,8,11,5,10,14
131,131,M. Mandžukić,32,Croatia,Juventus,25000000,160000,ST,72,84,...,76,80,59,64,64,10,8,5,8,15
612,620,L. Spinazzola,25,Italy,Juventus,11000000,80000,LM,76,60,...,59,74,77,76,76,11,13,12,15,14
8644,8837,P. Beruatto,19,Italy,Juventus,575000,5000,LB,50,10,...,43,56,64,66,68,14,5,12,10,12

In [52]:
# margins=True - столбец All
# fill_value=0 - заменить NaN на 0
pivot = df[df['Club'].isin(['FC Barcelona', 'Juventus', 'Manchester City', 'Manchester United'])].pivot_table(
    values=['Wage'], index=["Nationality"], columns=['Club'], aggfunc='sum',
    margins=True
)
pivot

                           Wage                                               \
Club               FC Barcelona   Juventus Manchester City Manchester United
Nationality
Algeria                     NaN        NaN        205000.0               NaN
Argentina              565000.0   205000.0        477000.0          206000.0
Belgium                110000.0        NaN        525000.0          230000.0
Bosnia Herzegovina          NaN   180000.0             NaN               NaN
Brazil                 465000.0   335000.0        550000.0           91000.0
Chile                  205000.0        NaN             NaN          215000.0
Croatia                260000.0   160000.0             NaN               NaN
Ecuador                     NaN        NaN             NaN          120000.0
England                     NaN        NaN        256000.0          478000.0
France                 495000.0   145000.0        240000.0          375000.0
Germany                240000.0   160000.0        370000.0               NaN
Italy                       NaN   460000.0             NaN           88000.0
Ivory Coast                 NaN        NaN             NaN          105000.0
Montenegro                  NaN        NaN          3000.0               NaN
Morocco                     NaN   160000.0             NaN               NaN
Netherlands            135000.0        NaN             NaN               NaN
Poland                      NaN   125000.0             NaN               NaN
Portugal               125000.0   405000.0        180000.0               NaN
Scotland                    NaN        NaN             NaN           11000.0
Serbia                      NaN        NaN             NaN          165000.0
Spain                  912000.0        NaN        291000.0          260000.0
Uruguay                455000.0        NaN             NaN               NaN
Wales                       NaN        NaN             NaN           13000.0
All                   3967000.0  2335000.0       3097000.0         2357000.0


Club                     All
Nationality
Algeria               205000
Argentina            1453000
Belgium               865000
Bosnia Herzegovina    180000
Brazil               1441000
Chile                 420000
Croatia               420000
Ecuador               120000
England               734000
France               1255000
Germany               770000
Italy                 548000
Ivory Coast           105000
Montenegro              3000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              710000
Scotland               11000
Serbia                165000
Spain                1463000
Uruguay               455000
Wales                  13000
All                 11756000